/* body {
  width: 400px;
} */

header {
  background-color: #0000ff;
  color: white;
  font-size: 20px;
  text-align: center;
}

.title {
  background-color: aquamarine;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
}

footer {
  background-color: aquamarine;
  display: flex;
}

.input {
  background-color: #ffc;
  border-style: hidden;
}

.read-list {
  text-align: center;
}

.pick-num {
  text-align: right;
}

.value {
  background-color: #eee;
}

.location-amount {
  display: flex;
}

.location {
  flex: 1;
}

.amount {
  text-align: right;
  flex: 1;
}

.video {
  margin: 0;
  padding: 0;
}

.popup {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.7); */
  background-color: #fff;
}

.popup-correct {}

.popup-incorrect {}

.popup-show {
  display: flex;
  flex-direction: column;
}
